.container{
    background-color: #b1dfbb;
}
.title{
    text-align: center;
    color: #0c5460;
}
.form-control{
    border: 1px solid midnightblue;
}
.label{
    color: midnightblue;
    font-weight: bold;
}