<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New</title>
    <link rel="stylesheet" href="/resources/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/style.css">
    <script src="/resources/bootstrap.min.js"></script>
</head>
<body>
        <div class="container">
            <h1 class="title">Create New</h1>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <form action="/create/submit" method="post" th:object="${book}" enctype="multipart/form-data">
                        <label class="label">ID</label><input class="form-control" type="number" th:field="*{id}"><span th:if="${#fields.hasErrors()}" th:errors="*{id}" style="color: #ff2c36">Error</span><br>
                        <label class="label">Title</label> <input class="form-control" type="text" th:field="*{title}"><span th:if="${#fields.hasErrors()}" th:text="${#fields.errors('title')}" style="color: #ff2c36"></span><br>
                        <label class="label">Author</label> <input class="form-control" type="text" th:field="*{author}"><br>
                        <label class="label">Publisher</label> <input class="form-control" type="text" th:field="*{publisher}"><br>
                        <label class="label">Category</label>
                        <select class="form-control" th:name="category.id" id="category_id">
                            <option th:each="category:${categories}" th:object="${category}" th:value="*{id}" th:text="*{name}"></option>
                        </select><br>
                        <input class="choosefile" type="file" name="file"><br><br>
                        <input class="btn btn-primary" type="submit" value="submit"><br><br>
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>

</body>
</html>