<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/resources/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/index.css">
    <script src="/resources/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body>
        <div class="container"><br><br>
            <h1 class="title">ប្រព័ន្ធគ្រប់គ្រងសៀវភៅ</h1>
            <a href="/create" class="btn btn-primary">Create New </a><br><br>
            <table class="table">
                <tr>
                    <th th:text="#{table.id}" class="font">ID</th>
                    <th th:text="#{title}" class="font">Title</th>
                    <th th:text="#{author}" class="font">Author</th>
                    <th th:text="#{publisher}" class="font">Publisher</th>
                    <th th:text="#{thumbnail}" class="font">Thumbnail</th>
                    <th th:text="#{category}" class="font">Category</th>
                    <th th:text="#{action}" class="font">Action</th>
                </tr>

                <tr th:each="book: ${books}">
                    <td>[[${book.id}]]</td>
                    <td th:text="${book.getTitle()}"></td>
                    <td th:text="${book.getAuthor()}"></td>
                    <td th:text="${book.getPublisher()}"></td>
                    <td><img style="width: 70px;height: 70px; border-radius: 50px" th:src="${book.getThumbnail()}" alt=""></td>
                    <td th:text="${book.category.name}"></td>
                    <td>
                        <a th:href="@{/view/{id}(id=${book.getId()})}"><button class="btn btn-info">View</button></a>
                        <a th:href="@{/update/{id}(id=${book.getId()})}"><button class="btn btn-success">Update</button></a>
                        <button class="btn btn-danger" id="delete" th:attr="data-id=${book.getId()}">Delete</button>
                    </td>
                </tr>
            </table>

        </div>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('body').on('click','#delete',function () {
                var data_id =$(this).attr("data-id");
                if(confirm("Do you want to delete?")){
                    window.location = "http://localhost:8080/delete/" + data_id;
                }
            })
        })
    </script>
</body>
</html>