<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/resources/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/style.css">
    <!--<script src="/resources/bootstrap.min.js"></script>-->

    <title>Title</title>
</head>
<body>
        <div class="container"><br>
            <h1 class="title">Update data</h1>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <form action="/update/submit" method="post" th:object="${books}" enctype="multipart/form-data">
                        <input type="hidden" th:field="*{id}"><br>
                        <label class="label">Title</label><input class="form-control" type="text" th:field="*{title}"><br>
                        <label class="label">Author</label><input class="form-control" type="text" th:field="*{author}"><br>
                        <label class="label">Publisher</label><input class="form-control" type="text" th:field="*{publisher}"><br>
                        <label class="label">Thumbnail</label><input class="form-control" style="width: 250px" type="text" th:field="*{thumbnail}" hidden><br>
                        <label class="label">Category</label>
                        <select th:name="category.id" id="category_id" class="form-control">
                            <option th:each="category:${categories}" th:object="${category}" th:value="*{id}" th:text="*{name}"></option>
                        </select><br>
                        <input type="file" name="file"><br><br>
                        <input class="btn btn-primary" type="submit" value="Update"><br><br>
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>

        <script src="/resources/jquery-3.3.1.min.js"></script>
        <script th:inline="javascript">

            /*<![CDATA[*/
            var categories = /*[[${categories}]]*/ null;
            var book_cate_id = /*[[${books.category.id}]]*/ 'No';

            /*]]>*/
            console.log(book_cate_id);

        $(document).ready(function(){
                console.log('Test')
               $.each(categories, function (index,category) {
                    if(category.id == book_cate_id){
                        $('#category_id option[value="' + book_cate_id +'"]').attr('selected','selected');
                    }
                })
            })
        </script>

</body>
</html>